/* COMMON RULES */

html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul {
    list-style: none;
    display: flex;
    
}

.ms_button {
    padding: 0.3rem 1rem;
    border-radius: 20px;
    max-width: 200px;
    text-decoration: none;
}

.ms_big-btn {
    padding: 0.5rem 1.2rem;
}

.ms_black_btn {
    background-color: black;
    border: 2px solid black;
    outline: 2px solid black;
    color: white;
}

.ms_black_btn:hover {
    border: 2px solid white;
}

.ms_red_btn {
    background-color: #cd3d0f;
    border: 2px solid #cd3d0f;
    outline: 2px solid #cd3d0f;
    color: white;
}

.ms_red_btn:hover {
    border: 2px solid black;
    box-sizing: border-box;
    color: white;
}

.ms_blue_btn {
    background-color: #2d64e6;
    border: 2px solid #2d64e6;
    outline: 2px solid #2d64e6;
    color: white;
}

.ms_blue_btn:hover {
    border: 2px solid white;
    outline: 2px solid #2d64e6;
    color: white;
}

.ms_white_btn {
    background-color: white;
    border: 2px solid #ffffff;
    outline: 2px solid #ffffff;
    color: black;
}

.ms_white_btn:hover {
    border: 2px solid rgb(0, 0, 0);
}

.ms_gray_btn {
    background-color: #d9dadc;
    color: #0060c8;
}

.ms_gray_btn:hover {
    padding: 0.7rem 1.4rem;
    color: #0060c8;
}


a {
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}




.ms_text-blue {
    color: #0071ce;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 999;
    height: 80px;
    background-color: white;
    width: 100%;
}

#header_top {
    background-color: black;
    height: 30px;
}

#header_top img{
    width: 50px;
}

#header_bot img {
    height: 100%;
}

#header_bot {
    height: 20px;
}

header ul {
    align-items: center;
}

#nav_list-icon {
    border: 1px solid lightgrey;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
    color: lightgrey;
}

#nav_btn {
    color: white;
}

.nav-link {
    color: #888888;
    padding: 0 0.5rem ;
}

#header_bot i {
    color: #888888;
}

.nav-item:hover i {
    color: black;
}

.nav-link:hover {
    color: black; !important
}

.font-size-12px {
    font-size: 12px;
}

.nav-item i {
    padding-left: 0.3rem;
}



/* JUMBO */

#jumbo {
    margin-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

#returnal-logo {
    width: 200px;
}

.buy_now {
    width: 130px;
}


/* LISTING */

.listing-img-outline {
    outline: 3px solid #0060c8;
    outline-offset: 1px;
}

.img_wrap:hover {
    transform: translate(0, -0.9rem);
}



/* HARDWARE */

#hardware h6 {
    margin-bottom: 0px;
}

.ms_opaque-wrap {
    opacity: 0.6;
    position: relative;
}

.ms_blue-border-bot {
    border-bottom: 2px solid #0060c8;
}

.col-4.col-md.ms_opaque-wrap:hover {
    opacity: 1;
    cursor: pointer;
}

.col-4.col-md.ms_opaque-wrap:hover:after {
    content: "";
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-bottom: 2px solid #0060c8;
    transform: translate(-50%); 
}


/* PAGE BANNER */

#hero-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

#ittakestwo-logo {
    width: 200px;
}


/* NEW RELEASES */

#new-releases {
    color: white;
    background-color: #1f1f1f;
}


/* PSPLUS */

#psplus {
    background-color: #bebcbb;
}

#psplus-logo {
    width: 50%;
}

.monthly_img {
    width: 100%;
}


/* PSNOW */

#psnow {
    background-color: #161c3b;
}

#psnow-logo {
    width: 30%;
    min-width: 300px;
}


/* FOLLOW */


/* FOOTER */

footer {
    background-color: #00439c;
    padding: 6rem 0;
}

#globe {
    width: 15px;
}

#sie-logo {
    max-width: 170px;
}





/* MEDIA QUERIES */

@media screen and (min-width:768px) {

    #returnal-logo {
        width: 300px;
    }

}


@media screen and (min-width:1200px) {

    .debug #jumbo {
        height: 78vh;
    }

    #returnal-logo {
        width: 400px;
    }

    #hero-card img {
        width: 300px;
    }

    .bigger_txt_lg {
        font-size: 22px;
    }

}










/* debug rules */

.debug #jumbo {
    min-height: 500px;
}

